<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'recipes/parcials/head.html' %}
    <title>{% block title%}{% endblock title %} Recipes</title>
</head>

<body>
    {% include 'recipes/parcials/header.html' %}
    {% include 'recipes/parcials/search.html' %}

    <main class="main-content-container">
        {% block content %}{% endblock content %}
        
        {% include 'recipes/parcials/pagination.html' %}
    </main>

    {% include 'recipes/parcials/footer.html' %}
</body>

</html>